name: "Terraform Application Pipeline"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (dev/staging/prod)"
        required: true
        default: "dev"

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app-tf    