name: "Application Image Build And Push Pipeline"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (dev/staging/prod)"
        required: true
        default: "dev"

env:
  ACR_NAME: devuksouthacr # Make this more dynamic in the future (work for other envs etc)  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
      - run: az login --service-principal -u ${{ secrets.AZURE_CLIENT_ID }} -p ${{ secrets.AZURE_CLIENT_SECRET }} --tenant ${{ secrets.AZURE_TENANT_ID }}
      - run: echo $ACR_NAME.azurecr.io
      - run: docker login $ACR_NAME.azurecr.io
      - run: docker build -t $ACR_NAME.azurecr.io/test-image:latest .
      - run: docker push $ACR_NAME.azurecr.io/test-image:latest
